<form action='/tasks' method='post'>
  <input type="text" name="section" placeholder="Section"/>
  <input type='text' name='title' placeholder='Title'/>
  <textarea name='description' placeholder='Description'></textarea>
  <input type='submit' value='Submit'/>
</form>