<form action='/tasks' method='post'>
  <input type="hidden" name="section" value="<%= section %>"/>
  <input type='text' name='title' placeholder='Title'/>
  <textarea name='description' placeholder='Description'></textarea>
  <input type='submit' value='Submit'/>
</form>